/* cores
#88cafd
#8499e3
#a89dfa
#b084e3
#e992fc
*/

body {
    margin: 0;
    padding-top: 0;
    background-color: #88cafd;
    font-family: Arial;
}

header {
    background: #8499e3;
    margin-top: 0;
    padding: 20px 0;
    width: 100%;
    font-size: 25px;
    color: #b084e3;
    font-weight: bold;
    text-align: right;
    border-bottom: solid;
}

footer {
    padding: 5px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #8499e3;
    text-align: center;
}

.textoFooter {
    margin: auto;
    padding: 1px;
}

a {
    font-family: fantasy;
    text-decoration: none;
    text-align: right;
    padding: 0 30px;
    font-size: 25px;
    color: #bed4d8;
    font-weight: bold;
}

.linksCorpo {
    padding: 0;
    text-align: center;
    font-size: auto;
}

a:hover {
    color: #a89dfa;
}

.corpoProjetos {
    color: #8499e3;
    text-align: center;
    max-width: 2500px;
    border-radius: 8px;
    margin-top: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.item2 { 
    grid-area: menu; 
    color: #bed4d8;
    background-color: #8499e3;
    height: 100%;
    text-align: center;
}
.item3 { grid-area: main; }

.item4 {
    padding: 50px 0 0 0;
    grid-area: main2; 
    height: 100%;
    text-align: center;
    color:  #8499e3;
}

.grid-container {
  display: grid;
  grid-template-areas:
    'menu main main main main main main'
    'menu main2 main2 main2 main2 main2 main2';
  grid-gap: 10px;
  list-style-image: none;
}

.grid-container > div {
  padding: 20px 0;
}

.projeto1 { grid-area: projeto1;}
.projeto2 { grid-area: projeto2;}
.projeto3 { grid-area: projeto3;}
.legenda1 { grid-area: legenda1;}
.legenda2 { grid-area: legenda2;}
.legenda3 { grid-area: legenda3;}

.grid-container2 {
    display: grid;
    grid-template-areas:
      'projeto1 projeto2 projeto3'
      'legenda1 legenda2 legenda3';
    grid-gap: 10px;
    list-style-image: none;
    text-align: center;
    color: #bed4d8;
  }



.imgCorpo {
    border-radius: 8px;
    max-width: 250px;
    display: inline-flex;
    margin: 10px 5px;
}

.imgPerfil {
    max-width: 150px;
    border-radius: 90%;
    border-color: #e8e8f3;
    border-style: solid;
}

.imgFooter {
    max-width: 50px;
}

.logo {
    font-family: fantasy;
    text-decoration: none;
    text-align: left;
    margin-top: -30px;
    margin-bottom: -10px;
    padding: 0 30px;
    font-size: 25px;
    color: #bed4d8;
}
